html, body {
    margin: 0;
    font-size: 16px;
    font-family: 'Bona Nova', serif;
    background-color:black;
    color:white;
    max-width: 100%;
    overflow-x: hidden;
}

/*Header Container*/

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color:rgb(0, 174, 255);
}

.nav-bar {
   display: flex;
   height: fit-content;
   
}
a {
    text-decoration:wavy;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: white;
    margin-right: 1em;
}

a:hover {
    color: brown;
  }
  
  a:active {
    color: black;
  }

.logo img {
    max-width: 120%;
    max-height: 160%;
    border-radius: 50%;
    margin-left: 10em;
}




@media only screen and (max-width: 1025px) {
    header {
     height: 80px;  
    }

    a {
        margin-top: 30px;
        font-size: 1.3rem;
    }

    .logo img {
        margin-left: 2em;
    }
    
}


@media only screen and (max-width: 600px) {
    header {

     min-height: 14.5rem;
     width: 10rem;
     position: absolute;
    }
    .logo {

        display: none;
    }

    .nav-bar {
        margin-left: 2rem;
        flex-direction: column;
    }

}

@media only screen and (max-width: 400px) {
    header {
        width: 6rem;
    }

    .nav-bar {
        margin-left: 0.5rem ;
    }

    a {
        font-size: 1.2rem;
    }
}


/* Main Container*/

main {
     display: flex;
     width: 100%;
     justify-content: center;
     padding-top: 60px;
     height: 300px;
     background-image:url(images/backg\ \(4\).jpg);
}

main img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    main {
        padding-top: 80px;
        height: 200px;
    }

}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        height: 150px;
    }

    main img {
        max-width: 80%;
        max-height: 80%;
    }
}
/* Classes container */

h1 {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}

.classes {
    display: flex;
    width: 100%;
    justify-content:baseline;
}

.bjj {
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.no-gi {
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.boxing {
    width: 400px;
    margin-left: 50px;
    text-align: center;
}

.classes img {
    max-width: 100%;
    max-height: 100%;
}

.classes h2 {
    background-color:rgb(0, 174, 255);
    margin:0;
    padding: 10px
}

@media only screen and (max-width: 800px) {
    .classes {

        font-size: 0.9rem;
    }

    .bjj, .no-gi, .boxing {
        margin-left: 0;
    }

    h1 {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 600px) {
    .classes {

        font-size: 0.6rem;
    }

    .bjj, .no-gi, .boxing {
        margin-right: 1.8rem;
    }

    h1 {
        font-size: 1.7rem;
    }

}   

@media only screen and (max-width: 400px) {
     .classes {
         flex-direction: column;
     }
}

/* Timetable container */

table, th, td {
    border: 1px solid black;
    text-align: center;
  }
 
th {
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    background-color: rgb(0, 174, 255);
}  

td {
    height: 50px;
    font-size: 1.2rem;
}

.timetable {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    th, td {
        font-size: 0.8rem;
    }
    
    th {
        max-width: 100%;
    }
}

/* Team container */
.team {
    display: flex;
}

.images{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.images div {
    width: 600px;
    max-height: 600px;
    margin: 30px 0 30px 100px;
}

.team img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4%;
}

.phrase {
    display: flex;
    justify-content: center;
    color:brown;
}

.phrase h3 {
    width: 50rem;
    text-align: center;
    height: 5rem;
    border-radius: 6%;
    font-size: 2rem;
}

@media only screen and (max-width: 1300px) {

    .images div {
        width: 20rem;
        max-height: 20rem;
    }
}


@media only screen and (max-width: 800px) {

    .images div {
        margin-left: 2.5rem;
    }
    .phrase h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {

    .images div {
        width: 15rem;
        max-height: 15rem;
    }

    .phrase h3 {
        font-size: 1.2rem;
}

}

@media only screen and (max-width: 400px) {

    .images {
        margin-left: 0;
        margin-right: 10px;
    }

    .images div {
        margin-top: 0;
        width: 20rem;
        max-height: 20rem;
    }

}

/*Map container */

.map {
    width: 500px;
    height: 500px;
}

.map img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4%;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
}


.details {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family: Playfair;
}

i {
    color:brown;
    font-size: 1.5rem;
}

.facebook i {
    font-size: 3rem;
}

@media only screen and (max-width: 400px) {
    .map {
        padding-right: 50px;
    }
}

/* Footer container*/

.footer {
    height: 60px;
    width: 100%;
    background-color:rgb(0, 174, 255);
}

.footer .nav-bar:first-child {
    margin-left: 20px;
}

@media only  screen and (max-width: 600px) {
    .footer {
        display:none;
    }
    
}
